## Chapter 1. Getting Started with Python

### Variables

In [1]:
x = 2.2  # this is a comment (use "#'' for comments)
y = 2
x * y

4.4

In [2]:
x = 1 # an integer
x = 0.3 # a floating-point
x = 'what a nice day!' # a string
x = True # a boolean variable (True or False)
x = None # None type (the absence of any value)

In [3]:
x = 3.3
display(type(x))

x = True
display(type(x))

x = None
display(type(x))

float

bool

NoneType

### Strings

In [4]:
string1 = 'This is a string'
print(string1)

string2 = "Well, this is 'string' too!"
print(string2)

string3 = 'Johnny said: "How are you?"'
print(string3)

This is a string
Well, this is 'string' too!
Johnny said: "How are you?"

In [5]:
string3 = string1 + ". " + string2
print(string3)

This is a string. Well, this is 'string' too!

In [6]:
print("Here we use a newline\nto go to the next\t line")

Here we use a newline
to go to the next	 line

### Some Important Operators

In [7]:
x = 5
y = 2
print(x + y) # addition
print(x - y) # subtraction
print(x * y) # multiplication
print(x / y) # dividion
print(x // y) # floor division (removing fractional parts)
print(x % y) # modulus (integer remanider of division)
print(x ** y) # x to the power of y

7
3
10
2.5
2
1
25

In [8]:
print(x < 5) # less than (> is greater than)
print(x <= 5) # less than or equal to (>= is greater than or equal to)
print(x == 5) # equal to
print(x != 5) # not equal to
print((x > 4) and (y < 3)) # "and" keyword is used for logical and (it is highlighted to be distinguished from other texts)
print((x < 4) or (y > 3)) # "or" keyword is used for logical or
print(not (x > 4)) # "not" keyword is used for logical not

False
True
True
False
True
False
False

In [9]:
print('Hello' in 'HelloWorlds!') # 'HelloWorlds!' is a string and 'Hello' is part of that
print('Hello' in 'HellOWorlds!')
print(320 in ['Hi', 320, False, 'Hello'])

True
False
True

### Lists

In [10]:
x = [5, 3.0, 10, 200.2]
x[0] # the index starts from 0

5

In [1]:
x = ['JupytherNB', 75, None, True, [34, False], 2, 75] # observe that this list contains another list
x[4]

[34, False]

In [2]:
x[4] = 52 # here we change one element of list x
x

['JupytherNB', 75, None, True, 52, 2, 75]

In [3]:
len(x) # here we use a built-in function to return the length of a list

7

In [4]:
y = [9, 0, 4, 2]
print(x + y) # concatenate two lists, + operator is used
print(y * 3) # concatenate multiple copies of the same list, * operator is used

['JupytherNB', 75, None, True, 52, 2, 75, 9, 0, 4, 2]
[9, 0, 4, 2, 9, 0, 4, 2, 9, 0, 4, 2]

In [5]:
# nest lists to create another list
z = [y, x]
z

[[9, 0, 4, 2], ['JupytherNB', 75, None, True, 52, 2, 75]]

In [6]:
x[3]

True

In [17]:
# this way we access the second element within z and within that we access the first element
z[1][0]

'JupytherNB'

In [18]:
# index -1 returns the last item in the list; -2 returns the second item from the end, and so forth
x[-1]

75

In [19]:
x[-2]

2

In [20]:
x[0:4] # the last element seen in the output is at index 3

['JupytherNB', 75, None, True]

In [21]:
x[:4] # equivalent to x[0:4]

['JupytherNB', 75, None, True]

In [22]:
x[4:]

[52, 2, 75]

In [23]:
print(x)
x[-2:]

['JupytherNB', 75, None, True, 52, 2, 75]

[2, 75]

In [24]:
x[0:4:2] # steps of 2

['JupytherNB', None]

In [25]:
# a negative step returns items in reverse (it works backward so here we start from 
# the element at index 4 and go backward to the beginning with steps of 2)

x[4::-2]

[52, None, 'JupytherNB']

In [26]:
# append a value to the end of the list
x.append(-23)
x

['JupytherNB', 75, None, True, 52, 2, 75, -23]

In [27]:
# remove the first matching element
x.remove(75)
x

['JupytherNB', None, True, 52, 2, 75, -23]

In [28]:
y.sort() # to sort the element of y
y

[0, 2, 4, 9]

In [29]:
# insert(pos, elmnt) method inserts the specified elmnt 
# at the specified position (pos) and shift the rest to the right
x.insert(2, 10) 
x

['JupytherNB', None, 10, True, 52, 2, 75, -23]

In [30]:
# pop(pos) method removes (and returns) the element 
# at the specified position (pos)
print(x.pop(3))
x

True

['JupytherNB', None, 10, 52, 2, 75, -23]

In [31]:
# del statement can also be used to delete 
# an element from a list by its index
del x[1]
x

['JupytherNB', 10, 52, 2, 75, -23]

In [32]:
# by default the position is -1, 
# which means that it removes the last element
x.pop() 
x

['JupytherNB', 10, 52, 2, 75]

In [33]:
list1 = ['A+', 'A', 'B', 'C+']

list2 = list1
list2

['A+', 'A', 'B', 'C+']

In [34]:
list2.append('D')
print(list2)
print(list1)

['A+', 'A', 'B', 'C+', 'D']
['A+', 'A', 'B', 'C+', 'D']

In [35]:
# the use of slicing; that is, using [:] we make a shallow copy of the entire list1
list3 = list1[:] 
list3.append('E')
print(list3)
print(list1)

['A+', 'A', 'B', 'C+', 'D', 'E']
['A+', 'A', 'B', 'C+', 'D']

In [36]:
# the use of copy() method
list4 = list1.copy() 
list4.append('E')
print(list4)
print(list1)

['A+', 'A', 'B', 'C+', 'D', 'E']
['A+', 'A', 'B', 'C+', 'D']

In [37]:
#the use of list() constructor
list5 = list(list1) 
list5.append('E')
print(list5)
print(list1)

['A+', 'A', 'B', 'C+', 'D', 'E']
['A+', 'A', 'B', 'C+', 'D']

In [38]:
help(list1)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Tuples

In [39]:
tuple1 = ('Data', 'Mining', 'with', 'Python', '1.0.0')
tuple1

('Data', 'Mining', 'with', 'Python', '1.0.0')

In [40]:
tuple1[0]

'Data'

In [41]:
tuple1[::2]

('Data', 'with', '1.0.0')

In [42]:
# the use of len() to return the length of tuple
len(tuple1)

5

In [43]:
#tuple1[0] = 'Jupyter' # Python does not permit changing the value

In [44]:
# redefine tuple1
tuple1 = ('Jupyter', 'NoteBook') 
tuple1

('Jupyter', 'NoteBook')

In [45]:
tuple2 = tuple1 + ('Good', 'Morning')
tuple2

('Jupyter', 'NoteBook', 'Good', 'Morning')

In [46]:
# more on "import" later. For now just read this as "from math module, 
# import modf function" so that modf function is available in our program

from math import modf 
a = 56.5
modf(a) # the function is returning a two-element tuple

(0.5, 56.0)

In [47]:
x, y = modf(a)
print("x = " + str(x) + "\n" + "y = " + str(y))

x = 0.5
y = 56.0

In [48]:
# sequence packing
tuple1 = 'Data', 'Mining', 'with', 'Python', '1.0.0' 
tuple1

('Data', 'Mining', 'with', 'Python', '1.0.0')

In [49]:
# sequence unpacking
x, y, z, v, w = tuple1 
print(x, y, z, v, w)

Data Mining with Python 1.0.0

In [50]:
x, y, z, v, w = 'Data', 'Mining', 'with', 'Python', '1.0.0'
print(x, y, z, v, w)

Data Mining with Python 1.0.0

In [51]:
list6 = ['Data', 'Mining', 'with', 'Python', '1.0.0']
x, y, z, v, w = list6
print(x, y, z, v, w)

Data Mining with Python 1.0.0

In [52]:
# remove the comma and see what would be the type here
tuple3 = 'Data', 
type(tuple3)

tuple

In [53]:
tmp = 'Data'
type(tmp)

str

### Dictionaries

In [54]:
dict1 = {1:'value for key 1', 
         'key for value 2':2, 
         (1,0):True, 
         False: [100,50], 
         2.5:'Hello'}
dict1

{1: 'value for key 1',
 'key for value 2': 2,
 (1, 0): True,
 False: [100, 50],
 2.5: 'Hello'}

In [55]:
dict1['key for value 2']

2

In [56]:
# change an element
dict1['key for value 2'] = 30 
dict1

{1: 'value for key 1',
 'key for value 2': 30,
 (1, 0): True,
 False: [100, 50],
 2.5: 'Hello'}

In [57]:
dict1[10] = 'Bye'
dict1

{1: 'value for key 1',
 'key for value 2': 30,
 (1, 0): True,
 False: [100, 50],
 2.5: 'Hello',
 10: 'Bye'}

In [58]:
del dict1['key for value 2']
dict1

{1: 'value for key 1', (1, 0): True, False: [100, 50], 2.5: 'Hello', 10: 'Bye'}

In [59]:
# list is not allowed as the key
#dict1[['1','(1,0)']] = 100

In [60]:
(1,0) in dict1.keys()

True

In [61]:
dict1.keys()

dict_keys([1, (1, 0), False, 2.5, 10])

In [62]:
# equivalent to: in dict1.keys()
(1,0) in dict1

True

In [63]:
"Hello" in dict1.values()

True

In [64]:
dict2 = dict([('Police', 102), 
              ('Fire', 101), 
              ('Gas', 104)])
dict2

{'Police': 102, 'Fire': 101, 'Gas': 104}

In [65]:
# the use of keywords arguments = object
dict3 = dict(Country='USA', 
             phone_numbers=dict2, 
             population_million=18.7)
dict3

{'Country': 'USA',
 'phone_numbers': {'Police': 102, 'Fire': 101, 'Gas': 104},
 'population_million': 18.7}

### Sets

In [66]:
set1 = {'a', 'b', 'c', 'd', 'e'}
set1

{'a', 'b', 'c', 'd', 'e'}

In [67]:
set2 = {'b', 'b', 'c', 'f', 'g'}
set2 # observe that the duplicate entery is removed

{'b', 'c', 'f', 'g'}

In [68]:
# union using an operator
# Equivalently, this could be done by set1.union(set2)
set1 | set2

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [69]:
set1.union(set2)

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [70]:
# intersection using an operator
# Equivalently, this could be done by set1.intersection(set2)
set1 & set2

{'b', 'c'}

In [71]:
# difference: elements of set1 not in set2
# Equivalently, this could be done by set1.difference(set2)
set1 - set2

{'a', 'd', 'e'}

In [72]:
# symmetric difference: elements only in one set, not in both
# Equivalently, this could be done by set1.symmetric_difference(set2)
set1 ^ set2

{'a', 'd', 'e', 'f', 'g'}

In [73]:
# check membership
'b' in set1

True

In [74]:
help(set1)

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Sequence Unpacking

In [75]:
x, *y, v, w = ['Data', 'Mining', 'with', 'Python', '1.0.0']
print(x, y, v, w)

Data ['Mining', 'with'] Python 1.0.0

In [76]:
*[1,2,3], 5

(1, 2, 3, 5)

In [77]:
[*[1,2,3], 5]

[1, 2, 3, 5]

In [78]:
{*[1,2,3], 5}

{1, 2, 3, 5}

In [79]:
*[1,2,3]

SyntaxError: can't use starred expression here (386627056.py, line 1)

In [80]:
x, *y, v, w = ('Data', 'Mining', 'with', 'Python', '1.0.0')
print(x, y, v, w)

Data ['Mining', 'with'] Python 1.0.0

In [81]:
print(x, *y, v, w)

Data Mining with Python 1.0.0

### for Loops

In [82]:
for x in list1:
    print(x)

A+
A
B
C+
D

In [83]:
string = "Hi There"
for x in string:
    print(x, end = "") # print on one line one after another

Hi There

In [84]:
dict2 = {1:"data", 2:"mining", 3:"with python"}
for key in dict2: # looping through keys in a dictionary
    val = dict2[key]
    print('key =', key)
    print('value =', val)
    print()

key = 1
value = data

key = 2
value = mining

key = 3
value = with python

In [85]:
for key, val in dict2.items():
    print('key =', key)
    print('value =', val)
    print()

key = 1
value = data

key = 2
value = mining

key = 3
value = with python

In [86]:
for i in range(5): # the sequence from 0 to 4
    print('i =', i)

i = 0
i = 1
i = 2
i = 3
i = 4

In [87]:
for i in range(3,8): # the sequence from 3 to 7
    print('i =', i)

i = 3
i = 4
i = 5
i = 6
i = 7

In [88]:
for i in range(3, 8, 2): # the sequence from 3 to 7 with steps 2
    print('i =', i)

i = 3
i = 5
i = 7

In [89]:
for i, v in enumerate(list6):
    print(i, v)

0 Data
1 Mining
2 with
3 Python
4 1.0.0

In [90]:
for i, v in enumerate(list6, start=1):
    print(i, v)

1 Data
2 Mining
3 with
4 Python
5 1.0.0

In [91]:
for i, v in enumerate(tuple1):
    print(i, v)

0 Data
1 Mining
2 with
3 Python
4 1.0.0

In [92]:
list_a = [1,2,3,4]
list_b = ['a','b','c','d']

for item in zip(list_a,list_b):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [93]:
name_list = ['John', 'James', 'Jane']
phone_list = [979, 797, 897]

# here we use zip on two lists; 
# each element of the iterable has two objects
dict3 = dict(zip(name_list, phone_list)) 
dict3

{'John': 979, 'James': 797, 'Jane': 897}

### List Comprehension

In [94]:
# non-pythonic way

list_odd = [] # start from an empty list
for i in range(1, 21):
    if i%2 !=0:
        list_odd.append(i**2)
list_odd

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [95]:
list_odd_lc = [i**2 for i in range(1, 21) if i%2 !=0]
list_odd_lc

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

### if-elif-else

In [96]:
list4 = ["Data", "Mining", "with", "Python"]
if "java" in list4:
    print("There is java too!")
elif "C++" in list4:
    print("There is C++ too!")
else:
    print("Well, just Python there.")

Well, just Python there.

### Functions

In [97]:
def subtract_three_numbers(num1, num2, num3):
    result = num1 - num2 - num3
    return result

# positional arguments
x = subtract_three_numbers(10, 3.0, 1)
print(x)

6.0

In [98]:
# keyword arguments
x = subtract_three_numbers(num3 = 1, num1 = 10, num2 = 3.0)
print(x)

6.0

In [99]:
def string_func(string):
    return len(string), string.upper(), string.title()

string_func('coolFunctions') # observe the tuple

(13, 'COOLFUNCTIONS', 'Coolfunctions')

In [100]:
x, y, z = string_func('coolFunctions') # unpacking
print(x, y, z)

13 COOLFUNCTIONS Coolfunctions

In [101]:
def list_mod(inp):
    inp.insert(1, 'AB')

list7 = [100, 'ML', 200]
list_mod(list7)
list7 # observe that the changes within the function appears outside the function

[100, 'AB', 'ML', 200]

In [102]:
# the use of * before grocery_items is to 
# allow an arbitrary number of arguments
def grocery_to_do(money, *grocery_items): 
    acronym = ''
    for i in grocery_items:
        acronym += i[0].title() 
    print('You have {}$'.format(money)) 
    # this is another way to write "print('You have ' + str(money) + '$')" using place holder {}
    print('Your acronym is', acronym)
    
grocery_to_do(40, 'milk', 'bread', 'meat', 'tomato')

You have 40$
Your acronym is MBMT

### Generator Expression

In [103]:
def first_n_sum_gen(n):
    sum_num , num = 0, 1
    while num <= n:
        sum_num += num
        num += 1
        yield sum_num

for i in first_n_sum_gen(10):
    print(i, end = " ")

1 3 6 10 15 21 28 36 45 55

In [104]:
print(*first_n_sum_gen(5))

1 3 6 10 15

In [105]:
a = first_n_sum_gen(5)
next(a)

1

In [106]:
next(a)

3

In [107]:
next(a)

6

In [108]:
next(a)

10

In [109]:
next(a)

15

In [110]:
next(a)

StopIteration:

## End